.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: grid;
  grid-template-areas: 
  "left up-right"
  "left down-right";
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.enterLocation {
  grid-area: left;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.enterLocation input {
  width: 25rem;
  font-size: 16px;
  padding: 10px 5px 10px 15px;
  margin: 5px;
  border-radius: 15px;
}

button {
  border-radius: 15px;
  padding: 10px;
  font-weight: 800;
  height: fit-content;
}

.saveData {
  margin: 1rem;
  display: flex;
  justify-content: right;
}


