/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  /* min-height: 20vh; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  font-size: calc(10px + 1vmin);
  color: white;
}

.enterLocation {
  grid-column: 1 / 4;
  grid-row: 1;
  padding: 2rem;
}

.enterLocation input {
  width: 25rem;
  font-size: 16px;
  padding: 10px 5px 10px 15px;
  margin: 5px;
  border-radius: 15px;
}

button {
  border-radius: 15px;
  padding: 10px;
  font-weight: 800;
  height: fit-content;
}

.saveData {
  margin: 1rem;
  grid-column: 5;
  grid-row: 1;
  justify-content: right;
  
}

.manageData {
  grid-column: 1/-1;
  grid-row: 2;
  display: flex;
  
}


